@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body,html{
    width: 100vw;
    height: 100vh;
}
body{
    background: url('../imagens/red-dead-redamption-fundo.jpg') no-repeat top center;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section#caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 475px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.623);
    background: linear-gradient(white, lightgray, gray);
}
iframe#fundo{
    position: relative;
    top: 0.2px;
    left: 0.3px;
    width: 400px;
    height: 475px;
    border-radius: 10px;
}
section#apps{
    text-align: right;
}
section#apps img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    box-sizing: border-box;
}
section#apps img:hover{
    border: 1px solid rgba(128, 128, 128, 0.628);
    
}