@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body,html{
    width: 100vw;
    height: 100vh;
}
body{
    background: url('../imagens/red-dead-redamption-fundo.jpg') no-repeat top center;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section#caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    height: 475px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.623);
    background: linear-gradient(white, lightgray, gray);
}
iframe#fundo{
    position: relative;
    top: 0.2px;
    left: 0.3px;
    width: 400px;
    height: 475px;
    border-radius: 10px;
}
section#apps{
    text-align: center;
}
section#apps img{
    display: inline-block;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    box-sizing: border-box;
}
section#apps img:hover{
    border: 1px solid rgba(128, 128, 128, 0.628);
    
}
/*Configurações para Celular*/
@media (max-width: 767px){

    main{
        display: block;
        height: auto;
        padding-top: 20px;
    }

    section#caixa{
        position: static;
        transform: none;
        margin: 0 auto 20px auto;
        width: 90vw;
        height: 70vh;
    }

    iframe#fundo{
        width: 100%;
        height: 100%;
    }

    section#apps{
        text-align: center;
        margin-bottom: 20px;
    }

    section#apps img{
        width: 45px;
        margin: 12px;
    }
}
/*Configurações para telas de Celular bem pequenas*/

@media (max-width:480px) {
    section#apps img{
        width: 42px;
        margin: 10px;
    }
    section#apps{
        text-align: center;
    }
}

/*Configurações para Tabletes e Ipads*/

@media (min-width:768px) and (max-width:1024px){
    section#caixa{
        width: 70vw;
        height: 75vh;
    }
    iframe#fundo{
        width: 100%;
        height: 100%;
    }
    section#apps img{
        width: 60px;
        margin: 15px;
    }
}